.container{
    width : 100vw ; 
    border: 2px solid red ; 
    /* background-color: aqua; */
    background-color: var(--primary-color);
}

.box{
    width : 70px ; 
    height: 50px;
    border: 2px solid green ;
    background-color: var(--primary-color, blue);
}

:root{
    --primary-color : red ; 

}