.container {
    display: flex;
    flex-direction: row;
    /* default */
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    border: 2px solid red;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    border: 2px solid red;
    height: 40px;
    width: 100px;
    margin: 10px;
    background: lightgray;
    padding: 20px;
    flex: 1;
}

