p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-decoration: none;

}

h1 {
    font-weight: bold;
    color: red;
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}
